---
import Layout from "../components/Layout.astro";
---

<Layout title="Publications">

<h1 class="text-2xl font-semibold mb-8">Publications</h1>

<ul class="text-gray-400 space-y-3">

    <li>Skin cancer classification — </li>
    <li>Archaeological CNN systems — </li>

</ul>

</Layout>
