---
import Layout from "../components/Layout.astro";
---

<Layout title="Publications">

<h1 class="text-2xl font-semibold mb-8">Publications</h1>


<p class="text-sm text-gray-500 mt-6">
    <a
        href="https://orcid.org/my-orcid?orcid=0000-0001-9976-3689"
        target="_blank"
        class="nav-link"
    >
        ORCiD ↗
    </a>
</p>

</Layout>
